@import "../../styles.scss";

.testing-container {
    position: relative;
    height: 100%;
    min-height: 500px;
    width: 100%;
    .disclaimer {
        background-color: $rvt-accent-color;
        padding: 5px 15px;
        text-align: center;
        span {
            color: $rvt-white;
            margin: 0 5px;
        }
    }
}


//----------------------------
