@import '../../styles.scss';

.font-content {
  max-width: 900px;
  padding: 30px;
  transition: all 600ms ease;
  table.mat-table {
    width: 1200px;
  }
}

table.mat-table {
  background: none;
}

table.mat-table tr {
  &.mat-header-row th.mat-header-cell {
    text-align: left;
  }

  &.mat-row td.mat-cell {
    padding: 10px 0;
  }
}

.color-container {
  max-width: 900px;
  border-collapse: collapse;
  margin-bottom: 45px;

  .swatch {
     width: 80px; 
  }

  .table-header {
      white-space: nowrap;
  }

  .circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;

    &.white {
      background-color: var(--rvt-color-bg);
      border: 1px solid var(--rvt-color-neutral-5);
    }
  }

  tr .ref {
    padding-right: 30px;
  }

  td span {
    color: var(--rvt-color-neutral-5);
  }
}

.info {
  padding: 30px;

  .section {
    position: relative;
    text-align: center;
    margin: 15px;

    h6 {
      text-align: left;
      margin: 20px 0 5px 0;
    }
    .rvt-icon-pdf {
      margin-left: 10px;
    }

    .icon-layout {
      span {
        font-size: 24px;
        margin: 0 10px;
      }
    }
  }
}

.persona {
  h3 {
    color: var(--rvt-color-primary);
    margin-bottom: 5px;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  h5 {
    color: var(--rvt-color-primary);
    font-size: 18px;
    margin: 15px 0 10px;
  }

  blockquote {
    color: var(--rvt-color-primary);
    max-width: 900px;
    font-style: italic;

    strong {
      color: var(--rvt-color-primary);
    }
  }

  .right {
    text-align: right;
  }

  .overview {
    img {
      height: 250px;
      vertical-align: middle;
    }

    p.side-text {
      display: inline-flex;
      max-width: 840px;
      font-size: 20px;
      color: var(--rvt-color-primary-dark);
    }
  }

  p {
    font-size: 16px;
  }

  .traits {
    .trait-container {
      display: flex;
      margin-bottom: 10px;
      .column {
        flex-direction: column;
        flex: 1;
        max-width: 400px;
        p {
          margin-bottom: 10px;
          font-style: italic;
          strong {
            color: var(--rvt-color-primary);
            margin-right: 15px;
            font-style: normal;
          }
        }
      }
    }
  }

  section:not(.content-container) {
    padding-left: 15px;

    header {
      margin-left: -15px;
    }
  }

  .voice {
    blockquote {
      color: var(--rvt-color-neutral-6);
      font-size: 16px;
    }
  }

  .lexicon {
    figure {
      margin-bottom: 15px;

      img {
        height: 150px;
        vertical-align: middle;
      }

      .gold {
        display: inline-block;
        background-color: var(--rvt-color-accent);
        height: 150px;
        width: 200px;
        vertical-align: middle;
      }

      figcaption {
        display: inline-flex;
        padding: 0 15px;
        max-width: 700px;
      }
    }
    .ill-container {
      margin: 20px 0 0 30px;
      img {
        display: block;
      }
    }
  }
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  margin: 50px 10% 0;

  .hint {
    color: var(--rvt-color-neutral-6);
    flex-basis: 100%;
    text-align: center;
    max-width: 100%;
  }

  button {
    position: relative;
    margin: 20px;
    padding: 10px 5px 5px 5px;

    span[class*='rivet-icon-'] {
      display: block;
      font-size: 24px;
      height: 24px;
      width: 24px;
      margin: 0 auto;
    }

    input {
      border: none;
      background: none;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
      cursor: pointer;
      margin-top: 20px;
      text-align: center;
    }

    span.note {
      position: absolute;
      bottom: -15px;
      left: 0;
      padding: 2px 10px;
      font-size: 12px;
      color: var(--rvt-color-text-contrast);
      background-color: var(--rvt-color-primary);
    }
  }
}
