<h1 class="page-header">
    Font Styles
    <a class="rivet-icon-pdf" title="spec sheet" href="" target="new"></a>
</h1>

<div class="component-container">
  <p>
    The font styles are applied to the HTML elements so using the appropriate elements will include the appropriate
    styles, no classes needed.
  </p>
  <div class="font-content">
    <table class="mat-table">
      <tr class="mat-header-row">
        <th class="style mat-header-cell">Element</th>
        <th class="example mat-header-cell">Example</th>
        <th class="mat-header-cell">SCSS Mixin</th>
      </tr>

      <tr class="mat-row">
        <td class="style mat-cell">h1</td>
        <td class="mat-cell">
          <h1>Nunito Sans 200 56px</h1>
        </td>
        <td class="example-code mat-cell">@include rvt-font-a</td>
      </tr>
      <tr class="mat-row">
        <td class="style mat-cell">h2</td>
        <td class="mat-cell">
          <h2>Nunito Sans 200 48px</h2>
        </td>
        <td class="example-code mat-cell">@include rvt-font-b</td>
      </tr>
      <tr class="mat-row">
        <td class="style mat-cell">h3</td>
        <td class="mat-cell">
          <h3>Nunito Sans 300 38px</h3>
        </td>
        <td class="example-code mat-cell">@include rvt-font-c</td>
      </tr>
      <tr class="mat-row">
        <td class="style mat-cell">h4</td>
        <td class="mat-cell">
          <h4>Nunito Sans 400 28px</h4>
        </td>
        <td class="example-code mat-cell">@include rvt-font-d</td>
      </tr>
      <tr class="mat-row">
        <td class="style mat-cell">h5</td>
        <td class="mat-cell">
          <h5>Nunito Sans 600 22px</h5>
        </td>
        <td class="example-code mat-cell">@include rvt-font-e</td>
      </tr>
      <tr class="mat-row">
        <td class="style mat-cell">h6</td>
        <td class="mat-cell">
          <h6>Nunito Sans 400 16px</h6>
        </td>
        <td class="example-code mat-cell">@include rvt-font-f</td>
      </tr>
      <tr class="mat-row">
        <td class="style mat-cell">p</td>
        <td class="mat-cell">
          <p>Nunito Sans 400 14px</p>
        </td>
        <td class="example-code mat-cell">@include rvt-font-g</td>
      </tr>
      <tr class="mat-row">
        <td class="style mat-cell">label</td>
        <td class="mat-cell"><label>Nunito Sans 400 12px</label></td>
        <td class="example-code mat-cell">@include rvt-font-h</td>
      </tr>
      <tr class="mat-row">
        <td class="style mat-cell">input, textarea</td>
        <td class="mat-cell"><textarea>Nunito Sans 400 16px</textarea></td>
      </tr>
      <tr class="mat-row">
        <td class="style mat-cell">a</td>
        <td class="mat-cell"><a>Nunito Sans 400 14px</a></td>
      </tr>
      <tr class="mat-row">
        <td class="style mat-cell">button</td>
        <td class="mat-cell"><button class="rvt-btn-standard">Nunito Sans 400 14px</button></td>
      </tr>
    </table>
  </div>
</div>
