<h1 class="page-header">
    Links
    <!-- <a class="rivet-icon-pdf" title="spec sheet" href=""
    target="new"></a> -->
    <!-- <a class="sketch" title="sketch file" href="" target="new">
        <img src="../../assets/sketch.svg"/>
    </a> -->
    <!-- <app-compliance-marker></app-compliance-marker> -->
</h1>

<!-- Test Inputs -->

<section class="component-container">
  <header>
      <h2>Links</h2>
      <p></p>
  </header>

  <div class="example-component">
      <a href="#" target="new">Link</a><br/><br/>
      <a href="#" target="new">Link</a>
  </div>

  <!-- Example -->
    <div class="example-code-header">
        <label for="example">HTML</label>
    </div>
    <textarea class="example-code" id="example" readonly>
<a href="#" target="new">Link</a>
    </textarea>
</section>