<h2 class="page-header">
    Links
    <!-- <a class="rivet-icon-pdf" title="spec sheet" href=""
    target="new"></a> -->
    <!-- <a class="sketch" title="sketch file" href="" target="new">
        <img src="../../assets/sketch.svg"/>
    </a> -->
    <!-- <app-compliance-marker></app-compliance-marker> -->
</h2>

<!-- Test Inputs -->

<div class="component-container">
  <h5>
    Links
  </h5>
  <p></p>

  <div class="example-component">
      <a href="#" target="new">Link</a><br/><br/>
      <a href="#" target="new">Link</a>
  </div>

  <!-- Example -->
  <p class="example-code-header">HTML</p>
    <textarea class="example-code" readonly>
<a href="#" target="new">Link</a>
    </textarea>
</div>