<main>
    <header>
        <h2 class="page-header">Performance</h2>
        <p></p>
    </header>
    <section class="content-container">
        <header>
            <h5>Browser Support</h5>
            <p></p>
            <p>In order to see if certain browsers support different functionality, check <a href="https://www.caniuse.com" target="new">caniuse.com</a></p>
            <h6>IE11 & Animations</h6>
            <p>Due to the small percentage of users (and shrinking) that still use IE11, it is only required that IE11 users do not lose functionality while operating in our products. There may be instances 
                when certain animations or visual effects appear in some browsers but not in IE, and this is acceptable as long as the user does not lose functionality or the lack of animations does not cause dramatic changes to the content.</p>
        </header>
    </section>
</main>