<main class="a11y">
    <header>
        <h2 class="page-header">Accessibility</h2>
    </header>
    <section class="content-container">
        <header>
            <h5>Guidelines</h5>
            <p>In order to make our products easier to use for everyone, we follow accessibility recommendations from
                the
                Web Content Accessibility Guidelines 2.1 - AA [<a href="https://www.w3.org/TR/WCAG21/" target="new">WCAG
                    2.1</a>]. </p>
        </header>
        <header>
            <h5>Color Contrast</h5>
            <p>Across our products, we meet the WCAG contrast success criterion 1.4.3. This means that all
                text must have a minimum contrast ratio of 4.5:1.</p>
        </header>
        <section class="a11y-contrast">
            <img src="../../../assets/contrast_sm.jpg" alt="Example of a passing contrast color" />
            <img src="../../../assets/contrast_sm2.jpg" alt="Example of a failing contrast color" />
            <p>Color contrast can be tested at
                <a target="new" href="http://www.accessible-colors.com">accessible-colors.com</a></p>
        </section>

        <header>
            <h5>Focus states</h5>
            <p>For focus states we use our hover state styling with the addition of the browser default outline in order
                to
                draw attention to the component for keyboard users.</p>
        </header>

        <div class='img-block'>
            <img class='example-img' src='../../../assets/btn_hover.gif' alt="Hover effect on button" />
            <p>Hover style</p>
        </div>
        <div class='img-block'>
            <img class='example-img' src='../../../assets/btn_focus.gif' alt="Focus effect on button" />
            <p>Focus style</p>
        </div>

        <header>
            <h5>ARIA Tags</h5>
            <p>For custom components, created with non standard elements, we use ARIA tags to enable screen-readers to
                understand what the component is.</p>
        </header>

        <header>
            <h5>Testing</h5>
            <p>To verify that we are following accessibility standards, we need to test our work properly.</p>
        </header>
    </section>
</main>