@import '../../styles.scss';

.version-history {
  div:first-of-type {
    padding: 15px 30px;
    background-color: $rvt-primary-color-alpha-10;
    margin-bottom: 45px;
    > hr {
      display: none;
    }
  }
  h5 {
    margin-top: 15px;
    display: inline-block;
  }
  span {
    display: inline-block;
    font-size: 22px;
    color: $rvt-neutral-400;
  }
  .release-notes {
    margin-top: 15px;
    font-weight: 600;
  }
  hr {
    margin: 15px 0 5px 0;
    max-width: 50%;
  }
  div:last-child hr {
    display: none;
  }
  ul {
    padding-inline-start: 0;
    font-size: 14px;
    font-weight: 600;
    li {
      margin-left: 20px;
      font-weight: 400;
    }
  }
}

s {
  color: $rvt-neutral-400;
}

.rivet-icon-check {
  margin-left: 10px;
  color: $rvt-good-color;
  font-size: 12px;
}

.half-container {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
