@import '../../styles.scss';

.version-history {
  div:first-of-type {
    padding: 15px 30px;
    background-color: var(--rvt-color-primary-alpha-10);
    margin-bottom: 45px;
    > hr {
      display: none;
    }
  }
  h5 {
    margin-top: 15px;
    display: inline-block;
  }
  span {
    display: inline-block;
    font-size: 22px;
    color: var(--rvt-color-neutral-6);
  }
  .release-notes {
    margin-top: 15px;
    font-weight: 600;
  }
  hr {
    margin: 15px 0 5px 0;
    max-width: 50%;
  }
  div:last-child hr {
    display: none;
  }
  ul {
    padding-inline-start: 0;
    font-size: 14px;
    font-weight: 600;
    li {
      margin-left: 20px;
      font-weight: 400;
    }
  }
}

s {
  color: var(--rvt-color-neutral-6);
}

.rivet-icon-check {
  margin-left: 10px;
  color: var(--rvt-color-good);
  font-size: 12px;
}

.half-container {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
