#app-navigation {
    width: 100%;
    background-color: rgb(57, 64, 76);
}

a {
    text-decoration: none;
    color: #edeff2;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    display: inline-block;
}
