#app-navigation {
    width: 100%;
    background-color: rgb(57, 64, 76);
}

h5 { 
    color: #edeff2;
    margin: 0 45px 0 15px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #edeff2;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    display: inline-block;
}
