name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - master
      - angular_9_upgrade
  paths:
    include:
      - package.json
      - angular.json
      - azure-pipelines.yml

stages:
  - stage: 'Build'
    displayName: 'Build - Test - Publish'
    jobs:
      - job: Build
        pool:
          vmImage: 'windows-latest'

        steps:
          - task: Npm@1
            displayName: 'npm install'
            inputs:
              workingDir: '$(System.DefaultWorkingDirectory)'
              verbose: false

          - script: 'npm run-script lint'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
            displayName: 'ng lint'

          - script: 'npm run-script build-prod'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
            displayName: 'ng build'

          - script: 'npm run-script test-prod'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
            displayName: 'ng test'

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Style Guide'
            inputs:
              PathtoPublish: '$(System.DefaultWorkingDirectory)\dist\Rivet'
              ArtifactName: StyleGuideArtifacts
#- stage: 'Deploy'
# TODO when certian features are implemented
