name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - package.json
      - angular.json
      - azure-pipelines.yml

stages:
  - stage: 'Build'
    displayName: 'Build - Test - Lint'
    jobs:
      - job: Build
        pool:
          vmImage: 'ubuntu-16.04'

        steps:
          - task: Npm@1
            displayName: 'npm install'
            inputs:
              workingDir: '$(System.DefaultWorkingDirectory)'
              verbose: false

          - script: 'npm run-script lint'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
            displayName: 'ng lint'

          - script: 'npm run-script test-package-prod'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
            displayName: 'ng test'

          - script: 'npm run-script build_lib'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
            displayName: 'ng build'

          - task: PublishPipelineArtifact@1
            displayName: 'publish artifacts'
            inputs:
              targetPath: '$(System.DefaultWorkingDirectory)/dist/rivet-style'
              ArtifactName: RivetStyleArtifacts

  - stage: 'Publish'
    condition: and(succeeded('Build'), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
    displayName: 'Publish Npm Package'
    jobs:
      - job: Publish
        pool:
          vmImage: 'ubuntu-16.04'

        steps:
          - task: DownloadPipelineArtifact@2
            displayName: 'download artifacts'
            inputs:
              source: current
              artifact: 'RivetStyleArtifacts'
              path:  $(Pipeline.Workspace)/artifacts
          - task: Npm@1
            displayName: 'npm publish'
            inputs:
              command: publish
              workingDir: '$(Pipeline.Workspace)/artifacts'
              verbose: false
              publishRegistry: useFeed
              publishFeed: '246858e7-a485-4878-b2d1-1cf5bc2e9124'
