name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - package.json
      - angular.json
      - azure-pipelines.yml

stages:
  - stage: "Build"
    displayName: "Build - Test - Publish"
    jobs:
      - job: Build
        pool:
          name: Hosted VS2017
          demands: npm

        steps:
          - task: Npm@1
            displayName: "npm install"
            inputs:
              workingDir: "$(System.DefaultWorkingDirectory)"
              verbose: false

          - task: DownloadBuildArtifacts@0
            displayName: "Download Build Artifacts"
            inputs:
              buildType: specific
              project: "7ccd9df0-f3af-4e61-a990-cc93bc7e1095"
              pipeline: 132
              specificBuildWithTriggering: true
              artifactName: "rivet-style"
              downloadPath: '$(System.DefaultWorkingDirectory)\dist'

          - script: "npm run-script lint"
            workingDirectory: "$(System.DefaultWorkingDirectory)"
            displayName: "ng lint"

          - script: "npm run-script build-prod "
            workingDirectory: "$(System.DefaultWorkingDirectory)"
            displayName: "ng build"

          - script: "npm run-script test-prod"
            workingDirectory: "$(System.DefaultWorkingDirectory)"
            displayName: "ng test"

          - task: PublishBuildArtifacts@1
            displayName: "Publish Style Guide"
            inputs:
              PathtoPublish: '$(System.DefaultWorkingDirectory)\dist\Rivet'
              ArtifactName: StyleGuideArtifacts
#- stage: 'Deploy'
# TODO when certian features are implemented
