@import "../../styles.scss";

.header {
    margin: 60px 30px 30px;
}

.font-content {
    padding: 30px;
    transition: all 600ms ease;
    &.reversedColors {
        background-color: #3C3A59;
        th, td:not(.TypeCaption):not(.TypeLabel){
            color: $rvt-white;
        }
    }
}

table {
    th {
        color: #aaa;
        text-align: left;
    }
    tr {
        height: 80px;
        &.header-row {
            border-bottom: 1px solid #aaa;
        }
    }
    .style {
        width: 200px;
    }
}

.gridContainer {
    [class*="col-"] p{
        background-color: #eee;
    }
}

.color-container {
    max-width: 900px;
    .square {
        height: 75px;
        width: 75px;
        &.white {
            background-color: $rvt-white;
            border: 1px solid #adb3be;
        }
    }
    tr .ref {
        padding-right: 30px;
    }
    td span {
        color: #aaa;
    }
}

.icon-container {
    button {
        position: relative;
        display: inline-block;
        margin: 20px; 
        span[class*="rivet-icon-"] {
            margin-right: 10px;
            font-size: 20px;
            height: 20px;
            width: 20px;
        }
        input {
            border: none;
            background: none;
            outline: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            cursor: pointer;
        }
        span.note {
            position: absolute;
            top: -15px;
            left: 10px;
            padding: 2px 10px;
            color: $rvt-white;
            background-color: $rvt-primary-color;
        }
    }
}
