<main>
    <header>
        <h2 class="page-header">Accessibility</h2>
        <p>In order to make our products easy to use for everyone, we follow accessibility patterns.</p>
    </header>
    <section class="content-container">
        <header>
            <h5>Color Contrast</h5>
            <p></p>
            <div class="color-blocks">
                <div class="block">

                </div>
                <div class="block">

                </div>
                <div class="block">

                </div>
            </div>
            <p>Color contrast can be tested at <a target="new" href="http://www.accessible-colors.com">accessible-colors.com</a></p>
        </header>

        <div>

        </div>

        <header>
            <h5>Focus states</h5>
            <p>For focus states we use our hover state styling with the addition of the browser default outline in order to
                draw attention to the component for keyboard users.</p>
        </header>
    
        <div class='img-block'>
            <img class='example-img' src='../../../assets/btn_hover.gif' alt="Hover effect on button" />
            <p>Hover style</p>
        </div>
        <div class='img-block'>
            <img class='example-img' src='../../../assets/btn_focus.gif' alt="Focus effect on button" />
            <p>Focus style</p>
        </div>
    
        <header>
            <h5>ARIA Tags</h5>
            <p>For custom components, created with non standard elements, we use ARIA tags to enable screen-readers to
                understand what the component is.</p>
        </header>

        <header>
            <h5>Testing</h5>
            <p>To verify that we are following accessibility standards, we need to test our work properly.</p>
        </header>
    </section>
</main>