@import '../../styles.scss';

.testing-container {
  position: relative;
  height: 100%;
  min-height: 500px;
  width: 100%;
  .disclaimer {
    background-color: var(--rvt-color-accent);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin: 10px 30px 0;
      font-size: 36px;
    }
  }
}

//----------------------------