<h1 class="page-header">
  Developer Toolkit
</h1>

<section class="component-container">
  <header>
    <h2>Importing Rivet into your project</h2>
    <p>
      Within the Rivet style module are imports for Angular Material, so there is no need to import Material separately
      into your project.
    </p>
  </header>
  <div class="inset">
    <h3>Add Rivet to the Dependencies</h3>
    <p>
      Within the projects package.json, add <code> "rivet-style": "x.x.x"</code> under dependencies, using the version
      of Rivet you want to import.
    </p>
  </div>
</section>

<section class="component-container">
  <header>
    <h2>Building out Rivet locally</h2>
  </header>
  <div class="inset">
    <h3>Linking Rivet to NaviPlanWeb</h3>
    <p>
      <a
        href="https://advicent.atlassian.net/wiki/spaces/POL/pages/312869068/Linking+Local+Rivet+Package+to+NaviPlanWeb+App"
        target="new"
        >Instructions</a
      >
    </p>
  </div>
</section>

<section class="note">
  <header>
    <h6>Help us out!</h6>
  </header>
  <p>Have a suggestion for things to include on this page? Reach out to the Design Ops team!</p>
</section>
