@import '../../styles.scss';

.font-content {
  max-width: 900px;
  padding: 30px;
  transition: all 600ms ease;
  &.reversedColors {
    background-color: #3c3a59;
    th,
    td:not(.TypeCaption):not(.TypeLabel) {
      color: $rvt-white;
    }
  }
}

table.mat-table tr {
  &.mat-header-row th.mat-header-cell {
    text-align: left;
  }
  &.mat-row td.mat-cell {
    padding: 10px 0;
  }
}

.color-container {
  max-width: 900px;
  .square {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    &.white {
      background-color: $rvt-white;
      border: 1px solid #adb3be;
    }
  }
  tr .ref {
    padding-right: 30px;
  }
  td span {
    color: #aaa;
  }
}

.hint {
  margin: 30px 0 0 20%;
  color: $rvt-neutral-400;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  button {
    position: relative;
    margin: 20px;
    padding: 10px 5px 5px 5px;
    span[class*='rivet-icon-'] {
      display: block;
      font-size: 24px;
      height: 24px;
      width: 24px;
      margin: 0 auto;
    }
    input {
      border: none;
      background: none;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
      cursor: pointer;
      margin-top: 20px;
      text-align: center;
    }
    span.note {
      position: absolute;
      bottom: -15px;
      left: 0;
      padding: 2px 10px;
      font-size: 12px;
      color: $rvt-white;
      background-color: $rvt-primary-color;
    }
  }
}
