@import '../../styles.scss';

.font-content {
    max-width: 900px;
    padding: 30px;
    transition: all 600ms ease;
}
table.mat-table {
    background: none;
}

table.mat-table tr {
  &.mat-header-row th.mat-header-cell {
    text-align: left;
  }
  &.mat-row td.mat-cell {
    padding: 10px 0;
  }
}

.color-container {
    max-width: 900px;

    .square {
        height: 50px;
        width: 50px;
        border-radius: 50%;

        &.white {
            background-color: $rvt-white;
            border: 1px solid $rvt-neutral-300;
        }
    }

    tr .ref {
        padding-right: 30px;
    }

    td span {
        color: $rvt-neutral-300;
    }
}

.info {
    padding: 30px;

    .section {
        position: relative;
        text-align: center;
        margin: 15px;

        h6 {
            text-align: left;
            margin: 20px 0 5px 0;
        }

        .color-layout {
            display: flex;
            flex-wrap: wrap;
            line-height: 50px;

            .color-block {
                flex-grow: 1;
                font-size: 12px;
                font-weight: 600;
                min-width: 100px;
                color: transparent;
                padding: 0 5px;

                &:hover {
                    color: $rvt-white;
                    cursor: default;
                }
            }
        }

        .rvt-icon-pdf {
            margin-left: 10px;
        }

        .icon-layout {
            span {
                font-size: 24px;
                margin: 0 10px;
            }
        }
    }
}


.icon-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
    margin: 50px 10% 0;

    .hint {
      color: $rvt-neutral-400;
      flex-basis: 100%;
      text-align: center;
    }

    button {
        position: relative;
        margin: 20px;
        padding: 10px 5px 5px 5px;

        span[class*="rivet-icon-"] {
            display: block;
            font-size: 24px;
            height: 24px;
            width: 24px;
            margin: 0 auto;
        }

        input {
            border: none;
            background: none;
            outline: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            cursor: pointer;
            margin-top: 20px;
            text-align: center;
        }

        span.note {
            position: absolute;
            bottom: -15px;
            left: 0;
            padding: 2px 10px;
            font-size: 12px;
            color: $rvt-white;
            background-color: $rvt-primary-color;
        }
    }
}