@import '../../styles.scss';


h5 { 
    color: $rvt-neutral-900;
    margin: 0 45px 0 15px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.nav-container {
    position: absolute;
    width: calc(100% - 80px); // Full width - 40px padding each side
    top: 0;
    left: 0;
    height: 46px;
    background-color: $rvt-neutral-100;
    padding: 0 40px;
    overflow: hidden;
    display: flex;
    .logo-container {
        display: inline-flex;
        height: 100%;
        margin-right: 40px;
        overflow: hidden;
        .rvt-btn-icon {
            display: none;
        }
        .logo-mobile {
            max-height: 30px;
        }
        img.logo {
            align-self: center;
            max-height: 30px;
        }
        @media (max-width: 860px) {
            margin-right: 20px;
        }
    }
    .mat-tab-nav-bar, .mat-tab-nav-bar.mat-primary {
        .mat-tab-links {
            height: 46px;
            a.mat-tab-link {
                height: 46px;
            }
        }
    }
}
