<h1 class="page-header">Slider</h1>

<section class="component-container">
    <header>
        <h2>Material Slider - Basic</h2>
        <p></p>
    </header>

    <div class="example-component">
        <mat-slider></mat-slider>
    </div>

    <!-- Example -->
    <div class="example-code-header"><p>HTML</p></div>
    <textarea class="example-code" readonly>
<mat-slider></mat-slider>
    </textarea>
    <!-- End Example -->
</section>


<section class="component-container">
    <header>
        <h2>Material Slider - Configurations</h2>
        <p></p>
    </header>

    <div class="example-component">
        <section class="example-section">
            <mat-form-field class="example-margin">
                <input matInput type="number" placeholder="Value" [(ngModel)]="value">
            </mat-form-field>
            <mat-form-field class="example-margin">
                <input matInput type="number" placeholder="Min value" [(ngModel)]="min">
            </mat-form-field>
            <mat-form-field class="example-margin">
                <input matInput type="number" placeholder="Max value" [(ngModel)]="max">
            </mat-form-field>
            <mat-form-field class="example-margin">
                <input matInput type="number" placeholder="Step size" [(ngModel)]="step">
            </mat-form-field>
        </section>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="showTicks">
                Show ticks (auto interval)
            </mat-checkbox>
        </section>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="thumbLabel">Show thumb label</mat-checkbox>
        </section>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="vertical">Vertical</mat-checkbox>
        </section>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
        </section>

        <mat-slider class="example-margin" [disabled]="disabled" [max]="max" [min]="min" [step]="step"
            [thumbLabel]="thumbLabel" [tickInterval]="tickInterval" [(ngModel)]="value" [vertical]="vertical">
        </mat-slider>
    </div>

    <!-- Example -->
    <div class="example-code-header"><p>HTML</p></div>
    <textarea class="example-code" readonly>
<mat-slider class="example-margin" [disabled]="disabled" [max]="max" [min]="min" [step]="step"
[thumbLabel]="thumbLabel" [tickInterval]="tickInterval" [(ngModel)]="value" [vertical]="vertical">
</mat-slider>
    </textarea>
    <!-- End Example -->
</section>