<h1 class="page-header">Datepicker</h1>

<section class="component-container">
  <header>
      <h2>Material Datepicker</h2>    
      <p>Datepickers are used for every date field to give users multiple options to enter the date.</p>
  </header>

  <div class="example-component">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Example -->
    <div class="example-code-header">
        <p>HTML</p>
    </div>
  <textarea class="example-code" readonly>
<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
    </textarea
  >
  <!-- End Example -->
</section>
