.content-container {
    .img-block {
        display: inline-block;
        margin: 15px;
        .example-img {
            width: auto;
            height: 150px;
            display: block;
        }
    }
}

.a11y {
    .a11y-contrast {
        img {
            height: 225px;
            margin-right: 30px;
        }
    }
}