<h1 class="page-header">
  Buttons
  <a class="rivet-icon-pdf" title="spec sheet" href="../../assets/specs/Rivet_Button_Specs.pdf" target="new"></a>
  <a class="sketch" title="sketch file" href="https://sketch.cloud/s/vK2P1?settings=vK2P1" target="new">
    <img src="../../assets/sketch.svg" alt="sketch icon" />
  </a>
  <app-compliance-marker></app-compliance-marker>
</h1>

<section class="component-container">
  <header>
    <h2>Primary Buttons</h2>
    <p>Primary buttons should only be used for high emphasis actions and therefore used sparingly within a page.</p>
  </header>
  <div class="example-component">
    <button class="rvt-btn-primary">Primary</button>
    <button class="rvt-btn-primary" disabled>Primary - Disabled</button>
    <button class="rvt-btn-primary-lg">Primary - Large</button>
    <button class="rvt-btn-primary-lg" disabled>Primary - Large - Disabled</button>
  </div>
  <!--  EXAMPLE  -->
  <div class="example-code-header">
    <label for="example-code-primary">HTML</label>
  </div>
  <textarea id="example-code-primary" class="example-code" readonly>
<button class="rvt-btn-primary">
    Primary
</button>

<button class="rvt-btn-primary-lg">
    Primary - Large
</button>
        </textarea
  >
</section>

<!--  END EXAMPLE  -->

<section class="component-container">
  <header>
    <h2>Secondary Buttons</h2>
    <p>
      Contain actions that are important but not primary. Secondary buttons should not be used with Standard buttons but
      instead should be used along with Primary or Text buttons.
    </p>
  </header>
  <div class="example-component">
    <button class="rvt-btn-secondary">Secondary</button>
    <button class="rvt-btn-secondary" disabled>Secondary - Disabled</button>
  </div>
  <!--  EXAMPLE  -->
  <div class="example-code-header">
    <label for="example-code-secondary">HTML</label>
  </div>
  <textarea id="example-code-secondary" class="example-code" readonly>
<button class="rvt-btn-secondary">
    Secondary
</button>
        </textarea
  >
</section>

<section class="component-container">
  <header>
    <h2>Text Buttons</h2>
    <p>Used for less pronounced actions located in Dialogs and Cards and help maintain emphasis on content.</p>
  </header>
  <div class="example-component">
    <button class="rvt-btn-text">Text</button>
    <button class="rvt-btn-text" disabled>Text - Disabled</button>
  </div>
  <!--  EXAMPLE  -->
  <div class="example-code-header">
    <label for="example-code-text">HTML</label>
  </div>
  <textarea id="example-code-text" class="example-code" readonly>
<button class="rvt-btn-text">
    Text
</button>   
        </textarea
  >
</section>
<!--  END EXAMPLE  -->

<section class="component-container">
  <header>
    <h2>Icon Buttons</h2>
    <p>Used for one click actions such as Delete and Edit, and do not need a text label</p>
  </header>
  <p>
    When using icons within buttons, it is required to add <code>aria-label="icon-type"</code> for screen readers to
    understand the button does.
  </p>
  <div class="example-component">
    <button class="rvt-btn-icon" aria-label="Add">
      <span class="rivet-icon-add" alt="add"></span>
    </button>

    <button class="rvt-btn-icon" aria-label="Add" disabled>
      <span class="rivet-icon-add" alt="add"></span>
    </button>
  </div>
  <!--  EXAMPLE  -->
  <div class="example-code-header">
    <label for="example-code-icon">HTML</label>
  </div>
  <textarea id="example-code-icon" class="example-code" readonly>
<button class="rvt-btn-icon">
    <span class="rivet-icon-add" aria-label="add"></span>
</button>
    </textarea
  >
  <!--  END EXAMPLE  -->
</section>

<section class="component-container">
  <header>
    <h2>Button with Icon</h2>
    <p>
      Used when text labels are necessary to state what the button does while also including an icon. Buttons that only
      contain icons need ARIA labels to tell screenreaders what the button is for.
    </p>
  </header>

  <div class="example-component">
    <button class="rvt-btn-icon">
      <span class="rivet-icon-add"></span>
      <span>Add</span>
    </button>

    <button class="rvt-btn-icon" disabled>
      <span class="rivet-icon-add"></span>
      <span>Add</span>
    </button>
  </div>
  <!--  EXAMPLE  -->
  <div class="example-code-header">
    <label for="example-code-with-icon">HTML</label>
  </div>
  <textarea id="example-code-with-icon" class="example-code" readonly>
    <button class="rvt-btn-icon">
        <span class="rivet-icon-add" aria-label="add"></span>
        <span>Add</span>
    </button>
        </textarea
  >
  <!--  END EXAMPLE  -->
</section>

<section class="component-container">
  <header>
    <h2>Loading Buttons</h2>
    <p>
      Used when an action needs to process, disabling the button and informing the user that it is computing. For more
      information, see <a>loading</a>
    </p>
  </header>
  <p>
    If the button does not contain text saying "loading" and only contains an icon, add
    <code>aria-label="loading"</code> for screen reader support.
  </p>
  <div class="example-component">
    <button class="rvt-btn-primary loading" aria-label="Loading" disabled>
      Loading
      <mat-spinner></mat-spinner>
    </button>

    <button class="rvt-btn-secondary loading" aria-label="Loading" disabled>
      Loading
      <mat-spinner></mat-spinner>
    </button>

    <button class="rvt-btn-text loading" aria-label="Loading" disabled>
      Loading
      <mat-spinner></mat-spinner>
    </button>

    <button class="rvt-btn-icon loading" aria-label="Loading" disabled>
      <span class="rivet-icon-add"></span>
      <mat-spinner></mat-spinner>
    </button>
  </div>

  <!-- Example -->
  <div class="example-code-header">
    <label for="example-code-loading">HTML</label>
  </div>
  <textarea id="example-code-loading" class="example-code" readonly>
<button class="rvt-btn-primary loading" aria-label="Loading" disabled>
    Loading
    <mat-spinner *ngIf="loading"></mat-spinner>
</button>
    </textarea>
  <!-- End Example -->
</section>
