<h1 class="page-header">
  Expansion Panel
  <a
    class="rivet-icon-pdf"
    target="new"
    title="Spec Sheet"
    href="../../../assets/specs/Polaris_ExpandableLineItem.pdf"
  ></a>
</h1>

<section class="component-container">
  <header>
    <h2>
      Expandable Line Item
    </h2>
    <p>Used in table like lists that have additional information or sub-items to add.</p>
  </header>

  <p>Input bindings:</p>
  <p>
    <code>preventCollapse</code>: boolean - defaulted to false, will lock the expansion state and disable the expansion
    buttons. (optional)
  </p>
  <p>
    <code>hideExpansionContent</code>: boolean - defaulted to false, will hide the expand button and the expansion
    section. Unhide has 500ms delay to allow for the view to update. (optional)
  </p>
  <p>
    <code>addButtonCallback</code>: EventEmitter - event to emit on click, will hide the add button if not set.
    (optional)
  </p>
  <p>
    <code>deleteButtonCallback</code>: EventEmitter - event to emit on click, while hide the delete button if not set.
    (optional)
  </p>
  <div class="example-component">
    <advicent-rivet-expansion-panel>
      <div header-content>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
      </div>
      <span header-button-content> </span>
      <div expansion-content>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <br />
        <br />
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <br /><br />
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
      </div>
    </advicent-rivet-expansion-panel>
    <advicent-rivet-expansion-panel>
      <div header-content>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
      </div>
      <span header-button-content> </span>
      <div expansion-content>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
      </div>
    </advicent-rivet-expansion-panel>
  </div>

  <!-- Example -->
  <div class="example-code-header"><p>HTML</p></div>
  <textarea class="example-code large">
<advicent-rivet-expansion-panel>
    <div header-content>
        <mat-form-field>
            <input matInput placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
    </div>
    <span header-button-content>
        <button class="rvt-btn-icon rivet-icon-delete" aria-label="Delete"></button>
    </span>
    <div expansion-content>
        <mat-form-field>
            <input matInput placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
    </div>
</advicent-rivet-expansion-panel>
    </textarea
  >
</section>
