<div class="style-wrapper" [ngClass]="{'fancy': difCursor, 'dark-mode': darkMode}">
    <!-- <button class="rvt-btn-standard test-btn" (click)="sidenav.toggle()">Test</button> -->
    <!-- <button class="rvt-btn-icon mode-btn" (click)="test()">
        <span class="rivet-icon-retirement"></span>
    </button> -->

    <mat-sidenav-container autosize>
        <mat-sidenav #sidenav mode="side" opened class="site-sidenav">
            <app-side-nav (cursorStatus)="toggleCursor()"></app-side-nav>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>