<div class="component-container">
    <h5>Buttons
        <a class="rivet-icon-pdf" title="spec sheet" href="../../assets/Polaris_Buttons_Specs.pdf" target="new"></a>
    </h5>

    <h6>Primary Buttons</h6>
    <p></p>

    <div class="example-component">
        <button class="rvt-btn-primary">Primary</button>
        <button class="rvt-btn-primary" disabled>Primary - Disabled</button>
        <button class="rvt-btn-primary-lg">Primary - Large</button>
        <button class="rvt-btn-primary-lg" disabled>Primary - Large - Disabled</button>
    </div>
    <!--  EXAMPLE  -->
    <p class="example-code-header">HTML</p>
    <textarea class="example-code" readonly>
<button class="rvt-btn-primary">
    Primary
</button>

<button class="rvt-btn-primary-lg">
    Primary - Large
</button>
    </textarea>
    <!--  END EXAMPLE  -->

    <h6>Secondary Buttons</h6>
    <p>Contain actions that are important but not primary. Secondary buttons should not be used with Standard buttons
        but instead should be used along with Primary or Text buttons.</p>
    <div class="example-component">
        <button class="rvt-btn-secondary">Secondary</button>
        <button class="rvt-btn-secondary" disabled>Secondary - Disabled</button>
    </div>
    <!--  EXAMPLE  -->
    <p class="example-code-header">HTML</p>
    <textarea class="example-code" readonly>
<button class="rvt-btn-secondary">
    Secondary
</button>
    </textarea>
    <!--  END EXAMPLE  -->

    <h6>Text Buttons</h6>
    <p>Used for less pronounced actions located in Dialogs and Cards and help maintain emphasis on content.</p>
    <div class="example-component">
        <button class="rvt-btn-text">Text</button>
        <button class="rvt-btn-text" disabled>Text - Disabled</button>
    </div>
    <!--  EXAMPLE  -->
    <p class="example-code-header">HTML</p>
    <textarea class="example-code" readonly>
<button class="rvt-btn-text">
    Text
</button>   
    </textarea>
    <!--  END EXAMPLE  -->

    <h6>Icon Buttons</h6>
    <p>Used for one click actions such as Delete and Edit, and do not need a text label</p>
    <div class="example-component">
        <button class="rvt-btn-icon">
            <span class="rivet-icon-add" alt="add"></span>
        </button>

        <button class="rvt-btn-icon" disabled>
            <span class="rivet-icon-add" alt="add"></span>
        </button>
    </div>
    <!--  EXAMPLE  -->
    <p class="example-code-header">HTML</p>
    <textarea class="example-code" readonly>
<button class="rvt-btn-icon">
    <span class="rivet-icon-delete" title="delete"></span>
</button>
    </textarea>
    <!--  END EXAMPLE  -->

    <h6>Button with Icon</h6>
    <p>Used when text labels are necessary to state what the button does while also including an icon.</p>
    
    <div class="example-component">
        <button class="rvt-btn-icon">
            <span class="rivet-icon-add"></span>
            <span>Add</span>
        </button>

        <button class="rvt-btn-icon" disabled>
            <span class="rivet-icon-add"></span>
            <span>Add</span>
        </button>
    </div>
    <!--  EXAMPLE  -->
    <p class="example-code-header">HTML</p>
    <textarea class="example-code" readonly>
<button class="rvt-btn-icon">
    <span class="rivet-icon-add"></span>
    <span>Add</span>
</button>
    </textarea>
    <!--  END EXAMPLE  -->


    <h6>Loading Buttons</h6>
    <p>Used when an action needs to process, disabling the button and informing the user that it is computing. For more
        information, see <a>loading</a></p>

        <div class="example-component">
            <button class="rvt-btn-standard loading" disabled>
                Loading
                <mat-spinner></mat-spinner>
            </button>
        
            <button class="rvt-btn-primary loading" disabled>
                Loading
                <mat-spinner></mat-spinner>
            </button>
        
            <button class="rvt-btn-secondary loading" disabled>
                Loading
                <mat-spinner></mat-spinner>
            </button>
        
            <button class="rvt-btn-text loading" disabled>
                Loading
                <mat-spinner></mat-spinner>
            </button>
        
            <button class="rvt-btn-icon loading" disabled>
                <span class="rivet-icon-add"></span>
                <mat-spinner></mat-spinner>
            </button>
        </div>

    <!-- Example -->
    <p class="example-code-header">HTML</p>
    <textarea class="example-code" readonly>
<button class="rvt-btn-standard loading" disabled>
    Loading
    <mat-spinner></mat-spinner>
</button>
    </textarea>
    <!-- End Example -->
</div>