<div class="splash-logo">
    <img src="../../assets/arrow.svg" alt="arrow logo" />
    <div class="splash-text">
        <h1 class="splash-header">Rivet</h1>
        <span>v {{versions[0].version}}</span>
    </div>
</div>

<div class="part-container">
    <div class="part">
        <object type="image/svg+xml" data="../../assets/components.svg" [routerLink]="['/components']">uh oh</object>
        <a [routerLink]="['/components']">Components</a>
        <p>The bread and butter of Rivet. Reusable UI elements for easy implementation and seamless standardization.</p>
    </div>

    <div class="part">
        <object type="image/svg+xml" data="../../assets/styles.svg" [routerLink]="['/styles']">uh oh</object>
        <a [routerLink]="['/styles']">Styles</a>
        <p>Design patterns and the reasoning behind design decisions can be found here.</p>
    </div>

    <div class="part">
        <object type="image/svg+xml" data="../../assets/patterns.svg" [routerLink]="['/patterns']">uh oh</object>
        <a [routerLink]="['/patterns']">Patterns</a>
        <p>Rules and guidelines for how to make our UI easy to use for everyone on the web.</p>
    </div>

    <div class="part">
        <object type="image/svg+xml" data="../../assets/changelog.svg" [routerLink]="['/changelog']">uh oh</object>
        <a [routerLink]="['/changelog']">Changelog</a>
        <p>Rivet is ever-evolving. Keep tabs on its status and scheduled releases here.</p>
    </div>
</div>