@import "../../styles.scss";

.splash-logo {
    position: relative;
    left: calc(50% - 250px);
    margin-top: 100px;
    width: fit-content;
    img {
        display: inline-block;
        height: 150px;
        width: 150px;
        margin-right: 5px;
    }
    .splash-text {
        display: inline-block;
        height: 150px;
        vertical-align: top;
    }
    .splash-header {
        margin: 0;
        color: $rvt-neutral-900;
        display: block;
        font-size: 74px;
        line-height: 1;
        margin-top: 30px;
    }
    span {
        color: $rvt-neutral-300;
        padding-left: 5px;
    }
}

.part-container {
    max-width: 1500px;
    margin: 150px auto 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .part {
        text-align: center;
        width: 250px;
        margin: 0 30px 30px 0;
    }
    object {
        height: 140px;
        width: 140px;
    }
    a {
        display: block;
        font-size: 28px;
        margin: 15px 0 5px 0;
    }
    p {
        text-align: left;
    }
}