@import '../../projects/rivet-style/src/lib/styles/typeStyles.scss';
@import '../../projects/rivet-style/src/lib/styles/rivetTheme.scss';

.style-wrapper {
  height: 100%;
}

.skip-link {
    z-index: 110;
    position: fixed;
    color: transparent;
    top: -30px;
    background: transparent;
    font-size: 16px;
    &:focus {
        color: white;
        top: 5px;
        left: 65px;
        transition: color 100ms ease;
    }
}

.dark-mode {
  .mat-sidenav-container {
    .mat-sidenav-content,
    .mat-sidenav,
    .nav-content-container {
      background-color: $rvt-neutral-600;
      color: $rvt-white;
      border-color: $rvt-neutral-900;
    }
    hr {
      background-color: $rvt-neutral-900;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a {
      color: $rvt-white;
    }
    code {
      background-color: $rvt-neutral-400;
      color: $rvt-white;
    }
    .icon-container {
      button,
      span:before,
      input {
        color: $rvt-white;
      }
      button {
        &.rvt-btn-icon {
          &:hover {
            background-color: $rvt-neutral-900;
          }
          &:active {
            background-color: $rvt-primary-color-dark;
          }
        }
      }
    }
    .page-header {
      background-color: $rvt-neutral-900;
      color: $rvt-white;
    }
    .example-component {
      border-color: $rvt-neutral-900;
    }
    .example-code-header {
      background-color: $rvt-neutral-900;
    }
    textarea.example-code {
      background-color: $rvt-neutral-400;
      color: $rvt-white;
    }
  }
}

p:not(.example-code-header) {
    max-width: 1200px;
}

.test-btn {
  position: absolute;
  top: 0;
  z-index: 100;
  right: 0;
}

.mode-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 100;
}
.site-sidenav {
  position: fixed;
}
.mat-sidenav-container {
  top: 0;
  background-color: $rvt-white;
}

.mat-sidenav-content {
  background: none;
  background-color: $rvt-white;
  padding: 0;
  .component-container {
    padding: 30px;
  }
  hr {
    margin: 5px 0 !important;
  }
}

.page-header {
  height: 100px;
  line-height: 100px;
  padding: 0 30px;
  background-color: $rvt-primary-color-dark;
  color: $rvt-white;
  a {
      text-decoration: none;
      margin-left: 15px;
      &:first-of-type {
          margin-left: 30px;
      }
      &.rivet-icon-pdf {
        color: $rvt-white;
        font-size: 24px;
      }
      &.sketch img{
        height: 24px;
        width: 24px;
      }
      &:hover {
          text-decoration: none;
      }
  }
  button.compliant {
    margin-left: 15px;
    height: 27px;
    width: 27px;
    border: none;
    font-family: $RvtFontFamily;
    padding: 5px;
    border-radius: 50%;
    background: $rvt-white;
    color: $rvt-neutral-900;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    &:hover:after {
        position: absolute;
        left: -4px;
        top: -4px;
        height: 33px;
        width: 33px;
        content: "";
        border: 1px solid $rvt-white;
        border-radius: 50%;
        background: transparent;

    }
  }
}

.content-container {
  padding: 30px;
  header {
      margin: 15px 0 5px 0;
  }
}

.fancy {
  *,
  *:hover {
    cursor: url(/assets/arrow-cursor.png) 20 -20, auto !important;
  }
}

// ----------------------------------------
