@import '../../projects/rivet-style/src/lib/styles/typeStyles.scss';
@import '../../projects/rivet-style/src/lib/styles/rivetTheme.scss';

.style-wrapper {
  height: 100%;
}

.skip-link {
  z-index: 110;
  position: fixed;
  color: transparent;
  top: -30px;
  background: transparent;
  font-size: 16px;
  &:focus {
    color: var(--rvt-color-text-contrast);
    top: 5px;
    left: 65px;
    transition: color 100ms ease;
  }
}

p:not(.example-code-header) {
  max-width: 1200px;
}

ul {
  font-size: 14px;
  padding-left: 0;
  line-height: 20px;
  li {
    margin-left: 20px;
  }
}

.color-selector-btn {
  position: absolute;
  top: 0;
  z-index: 100;
  right: 0;
  &:before {
    font-size: 14px;
    font-weight: 600;
  }
}

.mode-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 100;
}
.site-sidenav {
  position: fixed;
}
.mat-sidenav-container {
  top: 0;
  background-color: var(--rvt-color-bg);
}

.mat-sidenav-content {
  background: none;
  background-color: var(--rvt-color-bg);
  padding: 0;
  .component-container {
    padding: 30px;
  }
  hr {
    margin: 5px 0 !important;
  }
}

.page-header {
  height: 100px;
  line-height: 100px;
  padding: 0 30px;
  background-color: var(--rvt-color-primary-dark);
  background: url('/assets/white_pattern_lg.svg'), var(--rvt-color-primary-dark);
  background-size: 200% auto;
  color: var(--rvt-color-text-contrast);
  a {
    text-decoration: none;
    margin-left: 15px;
    &:first-of-type {
      margin-left: 30px;
    }
    &.rivet-icon-pdf {
      color: var(--rvt-color-text-contrast);
      font-size: 24px;
      display: inline-block;
      height: 24px;
      width: 24px;
    }
    &.sketch,
    &.sketch img {
      display: inline-block;
      height: 24px;
      width: 24px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  button.compliant {
    margin-left: 15px;
    height: 27px;
    width: 27px;
    border: none;
    font: 600 12px $RvtFontFamily;
    padding: 5px;
    border-radius: 50%;
    background: $rvt-white;
    color: var(--rvt-color-text);
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    &:hover:after {
      position: absolute;
      left: -5px;
      top: -5px;
      height: 33px;
      width: 33px;
      content: '';
      border: 2px solid var(--rvt-color-neutral-white);
      border-radius: 50%;
      background: transparent;
    }
  }
}

.content-container {
  padding: 30px;
  header {
    margin: 15px 0 5px 0;
  }
}

.component-container.deprecated {
  opacity: 0.5;
}

.fancy {
  *,
  *:hover {
    cursor: url(/assets/arrow-cursor.png) 20 -20, auto !important;
  }
}

.rivet-mini-expansion-head {
  font-size: 14px;
  font-weight: 700;
}
.rivet-mini-expansion-body {
  font-size: 12px;
}

.color-selector {
  .modeCheck {
    margin: 15px 0;
  }
  .color-box {
    height: 50px;
    width: 100%;
  }
  .rivet-drawer-apron {
    background: none;
  }
  .rivet-drawer.open [rivet-drawer-content] {
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.25);
  }

  .clr-close-btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }

  .color-select {
    display: flex;
    align-items: center;
    h5 {
      flex-grow: 1;
      width: 95px;
      font-size: 18px;
      line-height: 48px;
      color: var(--rvt-color-primary-dark);
    }
    .clr-slider {
      flex-grow: 2;
      .mat-slider-track-background {
        background-color: var(--rvt-color-neutral-3);
      }
      .mat-slider-track-fill {
        background-color: var(--rvt-color-primary);
      }
      .mat-slider-thumb,
      .mat-slider-thumb-label {
        background-color: var(--rvt-color-primary);
      }
    }
    span {
      flex-grow: 1;
      font-size: 12px;
      color: var(--rvt-color-neutral-5);
    }
    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}

// ----------------------------------------
