@import '../../projects/rivet-style/src/lib/styles/typeStyles.scss';
@import '../../projects/rivet-style/src/lib/styles/rivetTheme.scss';

.style-wrapper {
  height: 100%;
}

.dark-mode {
  .mat-sidenav-container {
    .mat-sidenav-content,
    .mat-sidenav,
    .nav-content-container {
      background-color: $rvt-neutral-600;
      color: $rvt-white;
      border-color: $rvt-neutral-900;
    }
    hr {
      background-color: $rvt-neutral-900;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a {
      color: $rvt-white;
    }
    code {
      background-color: $rvt-neutral-400;
      color: $rvt-white;
    }
    .icon-container {
      button,
      span:before,
      input {
        color: $rvt-white;
      }
      button {
        &.rvt-btn-icon {
          &:hover {
            background-color: $rvt-neutral-900;
          }
          &:active {
            background-color: $rvt-primary-color-dark;
          }
        }
      }
    }
    .page-header {
      background-color: $rvt-neutral-900;
      color: $rvt-white;
    }
    .example-component {
      border-color: $rvt-neutral-900;
    }
    .example-code-header {
      background-color: $rvt-neutral-900;
    }
    textarea.example-code {
      background-color: $rvt-neutral-400;
      color: $rvt-white;
    }
  }
}

p:not(.example-code-header) {
    max-width: 1200px;
}

.test-btn {
  position: absolute;
  top: 0;
  z-index: 100;
  right: 0;
}

.mode-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 100;
}
.site-sidenav {
  position: fixed;
}
.mat-sidenav-container {
  top: 0;
  background-color: $rvt-white;
}

.mat-sidenav-content {
  background: none;
  background-color: $rvt-white;
  padding: 0;
  .component-container {
    padding: 30px;
  }
  hr {
    margin: 5px 0 !important;
  }
}

.page-header {
  height: 100px;
  line-height: 100px;
  padding: 0 30px;
  background-color: $rvt-primary-color-dark;
  color: $rvt-white;
}

.content-container {
  padding: 30px;
  header {
      margin: 15px 0 5px 0;
  }
}

.fancy {
  *,
  *:hover {
    cursor: url(/assets/arrow-cursor.png) 20 -20, auto !important;
  }
}

// ----------------------------------------
