@import '../../projects/rivet-style/src/lib/styles/typeStyles.scss';
@import '../../projects/rivet-style/src/lib/styles/rivetTheme.scss';

.style-wrapper {
  height: 100%;
}

.skip-link {
  z-index: 110;
  position: fixed;
  color: transparent;
  top: -30px;
  background: transparent;
  font-size: 16px;
  &:focus {
    color: white;
    top: 5px;
    left: 65px;
    transition: color 100ms ease;
  }
}

p:not(.example-code-header) {
  max-width: 1200px;
}

.test-btn {
  position: absolute;
  top: 0;
  z-index: 100;
  right: 0;
}

.mode-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 100;
}
.site-sidenav {
  position: fixed;
}
.mat-sidenav-container {
  top: 0;
  background-color: $rvt-white;
}

.mat-sidenav-content {
  background: none;
  background-color: $rvt-white;
  padding: 0;
  .component-container {
    padding: 30px;
  }
  hr {
    margin: 5px 0 !important;
  }
}

.page-header {
  height: 100px;
  line-height: 100px;
  padding: 0 30px;
  background-color: $rvt-primary-color-dark;
  background: linear-gradient(315deg, rgba(88, 80, 150, 1) 0%, rgba(41, 40, 104, 1) 100%);

  color: $rvt-white;
  a {
    text-decoration: none;
    margin-left: 15px;
    &:first-of-type {
      margin-left: 30px;
    }
    &.rivet-icon-pdf {
      color: $rvt-white;
      font-size: 24px;
      display: inline-block;
      height: 24px;
      width: 24px;
    }
    &.sketch,
    &.sketch img {
      display: inline-block;
      height: 24px;
      width: 24px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  button.compliant {
    margin-left: 15px;
    height: 27px;
    width: 27px;
    border: none;
    font-family: $RvtFontFamily;
    padding: 5px;
    border-radius: 50%;
    background: $rvt-white;
    color: $rvt-neutral-900;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    &:hover:after {
      position: absolute;
      left: -5px;
      top: -5px;
      height: 33px;
      width: 33px;
      content: '';
      border: 2px solid $rvt-white;
      border-radius: 50%;
      background: transparent;
    }
  }
}

.content-container {
  padding: 30px;
  header {
    margin: 15px 0 5px 0;
  }
}

.fancy {
  *,
  *:hover {
    cursor: url(/assets/arrow-cursor.png) 20 -20, auto !important;
  }
}

.rivet-mini-expansion-head {
  font-size: 14px;
  font-weight: 700;
}
.rivet-mini-expansion-body {
  font-size: 12px;
}

// ----------------------------------------
