<a #main class="skip-link" tabindex="0" (click)="skip()" (keyup)="onKeyup($event)">Skip Navigation</a>
<div
  class="style-wrapper"
  [ngClass]="{ fancy: difCursor, 'key-focus': keyYes }"
  (keydown)="onKeydown($event)"
  (mousedown)="endFocus()"
>

  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened class="site-sidenav">
      <app-side-nav (cursorStatus)="toggleCursor()"></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div #content tabindex="1">
        <button class="rvt-btn-icon rivet-icon-settings color-selector-btn" (click)="toggleDrawer()"></button>
        <router-outlet></router-outlet>
        <app-theme-editor drawerStatus="{{colorDrawer}}"></app-theme-editor>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
