<div class="component-container">
    <h5>Text Areas
        <a class="rivet-icon-pdf" title="spec sheet" href="../../assets/specs/Polaris_Input_Specs.pdf" target="new"></a>
    </h5>
    <p>Used when users need to enter large amounts of text such as comments/suggestions or messages.</p>

    <div class="example-component">
        <form>
            <div class="rvt-input-wrap">
                <label for="empty">Label</label>
                <textarea id="empty"></textarea>
            </div>

            <div class="rvt-input-wrap">
                <label for="filled">Label</label>
                <textarea id="filled">Entry</textarea>
            </div>

            <div class="rvt-input-wrap invalid">
                <label for="invalid">Label</label>
                <textarea id="invalid">Invalid Entry or maybe just a really long one</textarea>
                <span class="helper-text">Reason for invalid</span>
            </div>

            <div class="rvt-input-wrap">
                <label for="disabled">Label</label>
                <textarea id="disabled" disabled>Disabled Entry</textarea>
                <span class="helper-text">Reason for disabled</span>
            </div>
        </form>
    </div>

    <!-- Example -->
    <p class="example-code-header">HTML</p>
    <textarea class="example-code" readonly>
<div class="rvt-input-wrap">
    <label for="filled">Label</label>
    <textarea id="filled">Entry&lt;/textarea>
    <span class="helper-text">Helper text goes here</span>
</div>
    </textarea>
    <!-- End Example -->
</div>