<div class="component-container">
    <h5>Dropdowns
        <a class="rivet-icon-pdf" target="new" title="Spec Sheet" href="../../../assets/Polaris_Dropdown_Specs.pdf"></a>
    </h5>
    <p>Dropdowns allow users to select an input from a list.
        <code>disableRipple</code> and <code>disableOptionCentering</code> must be used within the <code>mat-select</code>
        element to prevent some Angular Material behavior.
    </p>

    <h6>Standard Dropdowns</h6>

    <mat-form-field>
        <mat-select placeholder="Favorite food" disableRipple disableOptionCentering>
            <mat-option *ngFor="let item of dropChoices" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
        <mat-hint>Helper Text</mat-hint>
    </mat-form-field>

    <mat-form-field class="invalid">
        <mat-select placeholder="Favorite food" disableRipple disableOptionCentering>
            <mat-option *ngFor="let item of dropChoices" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
        <mat-hint>Helper Text</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Favorite food" disableRipple disableOptionCentering [disabled]="true">
            <mat-option *ngFor="let item of dropChoices" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
        <mat-hint>Helper Text</mat-hint>
    </mat-form-field>

    <mat-form-field class="readonly">
        <mat-select placeholder="Favorite food" disableRipple disableOptionCentering [disabled]="true" [(value)]="selected">
            <mat-option *ngFor="let item of dropChoices" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Example -->
    <textarea class="example-code">
        <form>
            <mat-form-field>
                <mat-select placeholder="Favorite food" disableRipple disableOptionCentering>
                    <mat-option *ngFor="let item of dropChoices" [value]="item">
                        { {item} }
                    </mat-option>
                </mat-select>
                <mat-hint>Helper Text</mat-hint>
            </mat-form-field>
        </form>
    </textarea>


    <h6>High Level Dropdowns</h6>
    <p>These dropdowns are to be used solely in navigation components</p>

    <mat-form-field class="high-level">
        <mat-select disableRipple disableOptionCentering [(value)]="selected">
            <mat-option *ngFor="let item of dropChoices" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Example -->
    <textarea class="example-code">
        <mat-form-field class="high-level">
            <mat-select disableRipple disableOptionCentering>
                <mat-option *ngFor="let item of dropChoices" [value]="item">
                    { {item} }
                </mat-option>
            </mat-select>
        </mat-form-field>
    </textarea>
</div>