@import '../../styles.scss';
@import '../app.component.scss';

.dark-mode {
    p.example-code-header {
        background-color: $rvt-neutral-900;
        color: $rvt-white;
    }
    textarea.example-code {
        background-color: $rvt-neutral-600;
        color: $rvt-white;
    }
}

.example-component {
    position: relative;
    margin-top: 30px;
    padding: 30px;
    margin: 0;
    border: 2px solid $rvt-neutral-100;
}

.example-code {
    box-sizing: border-box;
    background-color: $rvt-neutral-50;

    margin: 0;
    border: none;
    border-bottom: 10px solid $rvt-neutral-50;
    width: 100%;
    min-height: 150px;
    overflow: auto;
    padding: 10px;
    font-family: "Courier New", monospace;
    font-size: 14px;
    line-height: 24px;
    padding-left: 15px;
    &.large {
        min-height: 350px;
    }
}
.example-code-header {
    background-color: $rvt-neutral-100;
    margin: 0;
    padding: 5px 5px 5px 15px;
    font-family: $RvtFontFamily;
    font-size: 12px;
    font-weight: 600;
}


button {
    margin-right: 15px;
}

mat-form-field,
.rvt-input-wrap {
    margin-right: 30px;
}

h5 {
    margin-bottom: 15px;
    a[class*="rivet-icon"]{
        margin-left: 10px;
        text-decoration: none;
        font-size: 16px;
        vertical-align: middle;
        &:before {
            color: $rvt-neutral-900;
            line-height: 30px;
        }
    }
}

hr.half {
    width: 50%;
    margin: 30px 0;
}

h6 {
    margin: 30px 0 5px 0;
}
p {
    margin-bottom: 10px;
}

.controls {
    padding: 15px;
    background-color: $rvt-neutral-100;
    p {
        margin: 0 15px 0 0;
        font-size: 12px;
        font-weight: 600;
    }
    .mat-checkbox, .mat-radio-button {
        margin-right: 15px;
    }
    + .example-component {
        margin-top: 0;
    }
}

.mat-sidenav-container {
    min-height: 350px;
    margin-bottom: 60px;
    top: 0;
}

.component-container {
    font-size: 0;
}