@import '../../styles.scss';

textarea.example-code {
    background-color: rgb(247, 247, 247);
    margin: 30px 0;
    border: none;
    width: 100%;
    min-height: 150px;
    overflow: auto;
    padding: 10px;
    font-family: "Courier New", monospace;
    font-size: 14px;
    line-height: 24px;
    &.large {
        min-height: 350px;
    }
}

button {
    margin-right: 15px;
}

mat-form-field,
.rvt-input-wrap {
    margin-right: 30px;
}

h5 {
    margin-bottom: 0;
    a[class*="rivet-icon"]{
        margin-left: 10px;
        text-decoration: none;
        font-size: 16px;
        vertical-align: middle;
        &:before {
            color: $rvt-neutral-900;
            line-height: 30px;
        }
    }
}

hr.half {
    width: 50%;
    margin: 30px 0;
}

h6 {
    margin-bottom: 5px;
}
p {
    margin-bottom: 30px;
}

.controls {
    border: 1px solid #222;
    padding: 15px;
    background-color: #efefef;
    p {
        margin: 0 15px 0 0;
    }
    .mat-checkbox, .mat-radio-button {
        margin-right: 15px;
    }
}

.library-container {
    position: relative;
    &.nav {
        height: 50px;
    }
}

.mat-sidenav-container {
    min-height: 350px;
    margin-bottom: 60px;
    top: 0;
}