<h2 class="page-header">Components Overview</h2>

<div class="component-container">
  <h3>Material Components</h3>
  <p>
    Material components use Angular Material as the base and have style overrides to match Rivet styling. Full
    documentation for how to use the components can be found
    <a target="new" href="https://material.angular.io/components/categories">here</a>.
  </p>
</div>

<div class="component-container">
  <h3>Rivet Components</h3>
  <p>Rivet components are custom built components for easy implementation and styling.</p>
</div>
