<div class="component-container">
  <h5>
    Expandable Line Item (styles to be updated)
    <a
      class="rivet-icon-pdf"
      target="new"
      title="Spec Sheet"
      href="../../../assets/specs/Polaris_ExpandableLineItem.pdf"
    ></a>
  </h5>

  <p>Used in table like lists that have additional information or sub-items to add</p>

  <div class="example-component">
    <advicent-rivet-expansion-panel>
      <div header-content>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
      </div>
      <span header-button-content>
        <!-- <button class="rvt-btn-icon rivet-icon-delete" (click)="delete()"></button> -->
      </span>
      <div expansion-content>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <br />
        <br />
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <br /><br />
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
      </div>
    </advicent-rivet-expansion-panel>
    <advicent-rivet-expansion-panel>
      <div header-content>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
      </div>
      <span header-button-content>
        <!-- <button class="rvt-btn-icon rivet-icon-delete"></button> -->
      </span>
      <div expansion-content>
        <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
      </div>
    </advicent-rivet-expansion-panel>
  </div>

  <!-- Example -->
  <p class="example-code-header">HTML</p>
  <textarea class="example-code large">
<advicent-rivet-expansion-panel>
    <div header-content>
        <mat-form-field>
            <input matInput placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
    </div>
    <span header-button-content>
        <button class="rvt-btn-icon rivet-icon-delete"></button>
    </span>
    <div expansion-content>
        <mat-form-field>
            <input matInput placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
    </div>
</advicent-rivet-expansion-panel>
    </textarea
  >
</div>
