<h1 class="page-header">
  Colors
  <a class="rivet-icon-pdf" title="spec sheet" href="../../../assets/specs/Polaris_Color_11-18.pdf" target="new"></a>
</h1>

<section class="component-container">
    <header>
        <h2>New as of v4.2!</h2>
        <p>Rivet uses CSS Variables for our color variables to enable easy brand configuration and theme swapping.</p>
        <p>In order to use these variables, set <code>color= var(<i>x</i>)</code> or <code>background-color= var(<i>x</i>)</code> within the page styles.</p>
    </header>
    <table class="mat-table color-container" *ngFor="let group of newColors.colorGroup">
        <tr class="mat-header-row table-header">
            {{ group.title }}
        </tr>
        <tr class="mat-header-row">
            <th class="mat-header-cell">Swatch</th>
            <th class="mat-header-cell">Name</th>
            <th class="mat-header-cell">Variable</th>
            <th class="mat-header-cell">Use</th>
        </tr>
        <tr *ngFor="let color of group.colors" class="mat-row">
            <td class="mat-cell swatch">
                <div class="circle" [ngStyle]="{background: 'var('+color.var+')'}"></div>
            </td>
            <td class="mat-cell">
                {{color.name}}
            </td>
            <td class="mat-cell">
                <code>{{color.var}}</code>
            </td>
            <td class="mat-cell">
                {{color.use}}
            </td>
        </tr>
    </table>
</section>

<div class="component-container deprecated">
    <h4>These color styles are deprecated as of v4.2</h4><br/>
  <p>
    In order to use the theme colors, make sure to import the Rivet theme (rivetTheme.scss) into your project. Material
    components and Rivet components already have these colors applied. For any other use, set
    <code>color= <i>reference</i></code> or <code>background-color= <i>reference</i></code> within the page styles.
  </p>
  <table class="mat-table color-container" *ngFor="let group of colorVariables.colorGroup">
    <tr class="mat-header-row table-header">
      {{
        group.title
      }}
    </tr>
    <tr class="mat-header-row">
      <th class="mat-header-cell">Swatch</th>
      <th class="mat-header-cell">Name</th>
      <th class="mat-header-cell">Variable</th>
      <th class="mat-header-cell">CSS Variable</th>
      <th class="mat-header-cell">Use</th>
    </tr>
    <tr *ngFor="let color of group.colors" class="mat-row">
      <td class="mat-cell swatch">
        <div class="circle" [ngStyle]="{ background: color.color }"></div>
      </td>
      <td class="mat-cell">
        {{ color.name }} <span>({{ color.color }})</span>
      </td>
      <td class="ref mat-cell">
        <code>{{ color.var }}</code>
      </td>
      <td class="ref mat-cell">
        <code>{{ color.cssvar }}</code>
      </td>
      <td class="mat-cell">{{ color.info }}</td>
    </tr>
  </table>
</div>
