<h1 class="page-header">
    Dropdowns
    <a class="rivet-icon-pdf" target="new" title="Spec Sheet"
        href="../../../assets/specs/Polaris_Dropdown_Specs.pdf"></a>
    <!-- <a class="sketch" title="sketch file" href="" target="new">
        <img src="../../assets/sketch.svg"/>
    </a> -->
    <!-- <app-compliance-marker></app-compliance-marker> -->
</h1>

<section class="component-container">
    <header>
        <h2>
            Material Dropdowns
        </h2>
        <p>
            Dropdowns allow users to select an input from a list. <code>disableRipple</code> and
            <code>disableOptionCentering</code> must be used within the
            <code>mat-select</code>
            element to prevent some Angular Material behavior.
        </p>
    </header>

    <div class="example-component">
        <mat-form-field>
            <mat-select placeholder="Favorite food" disableRipple disableOptionCentering>
                <mat-option *ngFor="let item of dropChoices" [value]="item">
                    {{ item }}
                </mat-option>
            </mat-select>
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>

        <mat-form-field class="invalid">
            <mat-select placeholder="Favorite food" disableRipple disableOptionCentering>
                <mat-option *ngFor="let item of dropChoices" [value]="item">
                    {{ item }}
                </mat-option>
            </mat-select>
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Favorite food" disableRipple disableOptionCentering [disabled]="true">
                <mat-option *ngFor="let item of dropChoices" [value]="item">
                    {{ item }}
                </mat-option>
            </mat-select>
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>

        <mat-form-field class="readonly">
            <mat-select placeholder="Favorite food" disableRipple disableOptionCentering [disabled]="true"
                [(value)]="selected">
                <mat-option *ngFor="let item of dropChoices" [value]="item">
                    {{ item }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Example -->
    <div class="example-code-header">
        <a (click)="isTsA = false" [ngClass]="{'active': !isTsA}">HTML</a>
        <a (click)="isTsA = true" [ngClass]="{'active': isTsA}">Typescript</a>
    </div>
    <textarea class="example-code" readonly *ngIf="!isTsA">
<form>
    <mat-form-field>
        <mat-select placeholder="Favorite food" disableRipple disableOptionCentering>
            <mat-option *ngFor="let item of dropChoices" [value]="item">
                { {item} }
            </mat-option>
        </mat-select>
        <mat-hint>Helper Text</mat-hint>
    </mat-form-field>
</form>
    </textarea>

    <textarea class="example-code" readonly *ngIf="isTsA">
export class DropdownComponent implements OnInit {
    dropChoices = ['One', 'Two', 'Three'];
}
    </textarea>

    <!-- ||||||||||||||||||||||||||||||||  -->

    <header>
        <h2>High Level Dropdowns</h2>
        <p>These dropdowns are to be used solely in navigation components</p>
    </header>

    <div class="example-component">
        <mat-form-field class="high-level">
            <mat-select disableRipple disableOptionCentering [(value)]="selected">
                <mat-option *ngFor="let item of dropChoices" [value]="item">
                    {{ item }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- End Example -->
    <div class="example-code-header">
        <a (click)="isTsB = false" [ngClass]="{'active': !isTsB}">HTML</a>
        <a (click)="isTsB = true" [ngClass]="{'active': isTsB}">Typescript</a>
        <!-- <a class="example-code-copy rivet-icon-reporteditor" 
        title="copy code"
        (click)="copyText(txtInput)"></a> -->
    </div>
    <textarea class="example-code" readonly *ngIf="!isTsB" #txtInput>
<mat-form-field class="high-level">
    <mat-select disableRipple disableOptionCentering>
        <mat-option *ngFor="let item of dropChoices" [value]="item">
            { {item} }
        </mat-option>
    </mat-select>
</mat-form-field>
    </textarea>

    <textarea class="example-code" readonly *ngIf="isTsB" #txtInput>
export class DropdownComponent implements OnInit {
    dropChoices = ['One', 'Two', 'Three'];
    selected = 'Two';
}
    </textarea>
</section>