<h1 class="page-header">
  Designer Toolkit
</h1>

<section class="component-container">
  <header>
    <h2>Sketch Files</h2>
    <p>Note: Some of these files may only work if you have a Sketch account <strong>and</strong> proper permissions.</p>
  </header>
  <div class="sketch-tile">
    <a class="links" target="new" href="https://sketch.cloud/s/MGPWz"
      >Master Component File
      <img src="../../assets/sketch_color.png" alt="sketch icon" />
    </a>
  </div>
</section>

<section class="component-container">
  <header>
    <h2>Designing accessible components</h2>
  </header>
  <p>
    Design specific instructions are coming soon. For documentation on things to keep in mind when creating components,
    see
    <a target="new" href="https://advicent.atlassian.net/wiki/spaces/UX/pages/188448775/Creating+Accessible+Components">
      creating accessible components</a
    >
  </p>
</section>

<section class="note">
  <header>
    <h6>Help us out!</h6>
  </header>
  <p>Have a suggestion for things to include on this page? Reach out to the Design Ops team!</p>
</section>
