<div class="nav-header">
  <img src="../../assets/arrow.svg" (click)="toggleCursor()" /><a [routerLink]="['/home']" alt="home">Rivet</a>
</div>
<div class="nav-content-container">
  <a
    class="nav-category expandable"
    routerLinkActive="expanded"
    [ngClass]="{ expanded: category.expanded }"
    *ngFor="let category of sideNavConfig.expandableObj"
  >
    <span class="category-label">{{ category.label }}</span>
    <h6 class="category-header expanding" (click)="expand(category)">
      <span class="rivet-icon-caret-right"></span>
      {{ category.title }}
    </h6>
    <div class="sub-nav-list">
      <a
        tabindex="0"
        class="list-link"
        *ngFor="let link of category.links"
        [ngClass]="{ active: routerLink == link.section }"
        [routerLink]="link.path"
        [fragment]="link.section"
      >
        {{ link.name }}
      </a>
    </div>
  </a>
</div>
