@import "../../styles.scss";

.mat-sidenav-content {
    background: none;
    background-color: $rvt-white;
    padding: 30px;
    height: auto;
}
.nav-header {
    top: 0;
    left: 0;
    height: 100px;
    width: 250px;
    background-color: #585096;
    cursor: default;
    text-align: center;
    background: url('../../assets/pattern.jpg');
    img {
        position: relative;
        top: 7px;
        height: 30px; 
        width: 30px;
        cursor: default;
        margin-right: 5px;
    }
    a {
        line-height: 100px;
        color: #fff;
        margin: 0;
        font-size: 22px;
        font-family: $RvtFontFamily;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        padding-right: 20px;
    }
}
.nav-content-container {
    width: 212px; // 250px - 36px padding - 2px border
    background-color: $rvt-white;
    padding: 50px 0 50px 36px;
    color: $rvt-neutral-900;
    white-space: nowrap;
    * {
        color: $rvt-neutral-900;
    }
    .nav-category {
        display: block;
        margin-bottom: 30px;
        text-decoration: none;
        &.expanded .category-header.expanding span:before {
            transform: rotate(90deg);
            transition: transform 400ms ease;
        }
        .num-circle {
            display: inline-block;
            border-radius: 50%;
            background: transparent;
            border: 1px solid $rvt-neutral-400;
            height: 23px;
            width: 23px;
            text-align: center;
            color: $rvt-neutral-900;
            line-height: 25px;
            margin-right: 10px;
        }
        .category-label {
            display: block;
            font-size: 12px;
            font-weight: 400;
            margin-left: 31px;
        }
        .category-header {
            position: relative;
            display: inline-block;
            font-weight: 600;
            margin: 0;
            line-height: 25px;
            span {
                position: absolute;
                left: -27px;
                &:before {
                    display: block;
                    transition: transform 400ms ease;
                    margin-top: 3px;
                }
            }
            &.expanding {
                cursor: pointer;
                margin: 0 0 0 31px;
            }
        }
        .sub-nav-list {
            display: none;
            position: relative;
            margin: 15px 0 0 11px;
            a {
                display: block;
                border-left: 4px solid $rvt-neutral-100;
                padding-left: 15px;
                cursor: pointer;
                text-decoration: none;
                &:focus {
                    outline: none;
                }
                &.active {
                    font-weight: 600;
                    border-color: $rvt-accent-color;
                }
                &:hover:not(.active),
                &:focus:not(.active) {
                    font-weight: 600;
                    border-color: $rvt-neutral-200;
                }
            }
        }
        &.expanded .sub-nav-list {
            display: block;
        }
        &.active {
            .num-circle {
                background-color: $rvt-accent-color;
                color: $rvt-white;
                border: none;
                height: 25px;
                width: 25px;
            }
            .section-header {
                font-weight: 600;
            }
        }
    }
}