$rivet-icon-path: 'rivet-style/lib/rivet-icons';

@import 'rivetTheme';
@import 'buttonStyles';
@import 'inputStyles';
@import 'typeStyles';
@import 'iconStyles';
@import 'checkboxStyles';
@import 'dropdownStyles';
@import 'tabStyles';
@import 'navStyles';
@import 'dialogStyles';
@import 'tableStyles';
@import 'loadingStyles';
@import 'radioStyles';
@import 'overlayStyles';
@import 'snackbarStyles';
@import 'app/app.component.scss'; // used to import any temporary styles before they are in style package

@include rvt-core(); // apply $rivet-theme to angular material. ONLY INCLUDE ONCE

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $RvtFontFamily; //imported from typeStyles
  margin: 0;
  height: 100vh;
  * {
    color: $rvt-neutral-900;
  }
}

hr {
  margin: 5rem 0 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  color: $rvt-neutral-900;
}

code {
  background-color: $rvt-neutral-100;
  font-family: 'Courier New', Courier, monospace;
  padding: 2px 4px;
}

// Keyboard only focus styles until implemented in style module
body div:not(.keyFocus) {
    button[class^="rvt-btn"]:focus, button:active:focus {
        outline: none;
    }  
}
.keyFocus {
    button[class^="rvt-btn"]:not(:active):focus {
        @include keyboard-focus-style;
    }
}

