<h1 class="page-header">
    Dialog
    <a class="rivet-icon-pdf" title="spec sheet" href="../../../assets/specs/Polaris_Dialog_Specs.pdf"
    target="new"></a>
    <!-- <a class="sketch" title="sketch file" href="" target="new">
        <img src="../../assets/sketch.svg"/>
    </a> -->
    <!-- <app-compliance-marker></app-compliance-marker> -->
</h1>

<section class="component-container">
    <header>
        <h2>Material Dialog</h2>
        <p>
            Dialogs can be used as alerts or for confirmation of certain high level actions. Within the
            <code>dialogRef</code>,
            set it to <code>autoFocus: false</code> to prevent the buttons from being focused on open.
        </p>
    </header>

    <div class="example-component">
        <button class="rvt-btn-primary" (click)="openDialog()">Test Dialog</button>
    </div>

    <!-- Example -->
    <div class="example-code-header">
        <a (click)="isTs = false; isTemp = false" [ngClass]="{'active': !isTs && !isTemp}">HTML</a>
        <a (click)="isTemp = true; isTs = false" [ngClass]="{'active': isTemp}">HTML - Dialog Template</a>
        <a (click)="isTs = true; isTemp = false" [ngClass]="{'active': isTs}">Typescript</a>
    </div>

    <textarea class="example-code" readonly *ngIf="!isTemp && !isTs">
<button class="rvt-btn-primary" (click)="openDialog()">Test Dialog</button>
    </textarea>


    <textarea class="example-code" readonly *ngIf="isTemp && !isTs">
<h5 mat-dialog-title>Title</h5>
<div mat-dialog-content>
    <p>Content</p>
</div>

<div mat-dialog-actions>
    <button class="rvt-btn-primary">Action</button>
    <button class="rvt-btn-text" [mat-dialog-close]>Close</button>
</div>
    </textarea>


    <textarea class="example-code" readonly *ngIf="!isTemp && isTs">
constructor(public dialog: MatDialog) {}

openDialog(): void {
    const dialogRef = this.dialog.open(DialogComponentDialogComponent, {
        width: '500px',
        autoFocus: false
    });
}
    </textarea>
    <!-- End Example -->
</section>